@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
    height: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: hsl(0, 0%, 12.5%);
    --background-accent: hsl(217, 10%, 25%);
    --background-accent--light: hsl(220, 26%, 26%);
    --primary: hsl(175, 82%, 80%);
    --text: hsl(21, 35%, 92%);
  }
}

body.body-background {
  color: var(--text);
  background: var(--background);

  p,
  span {
    color: var(--text);
  }

  .title {
    color: var(--primary);
  }
}


/* NEW DATA */

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.clip-animation {
  :nth-child(1) {
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    animation-delay: 1s;
  }

  :nth-child(2) {
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    animation-delay: 1.5s;
  }
}